<article class="post" itemid="url.html" itemscope itemtype="http://schema.org/BlogPosting" itemref="site-organization root author">

  <h1 id="headline" class="post__title" itemprop="name headline">{{ title }}</h1>


  <time datetime="{{ datetime }}" itemprop="datePublished">{{ date-popular }}</time>
  <time datetime="{{ datetime }}" itemprop="dateModified">{{ date-popular }}</time>
  <ul>
    <li><a href="/tags/#{{ tag }}">{{ tag }}</a></li>
  </ul>

  <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <img itemprop="url" src="https://example.com/images/blog.png" alt="LOGO">
  </span>


  <div class="post__content">
    {{ render '@post-content' }}
  </div> <!-- END: .post__content -->

  {{ render '@twitter-plug' }}

  <p>[INCLUDE COMMENTS]</p>

</article> <!-- END: .post -->
